body{
    background-color:white;
}

.wrap{
	background-color: #93b299;
	width:960px;
	margin:auto;
    padding:20px;
}

@font-face {
    font-family:'Sansita-One';
    font-weight:200px;
    src: 
         url('SansitaOne.ttf') format('truetype');
}
main >h1{
    font-family:'Sansita-One';
    font-size: 35pt;
    color: white;
}

img[alt="image_profil"]{
    display:block;
    margin: auto;
    width:200px;
}
h2 a{
    color: #F5F5F5;
    font-family: "Cabin", sans-serif;
    
}
h1,h2,h3{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

a{
    text-decoration: none;
}

.text_bloc1{
    margin-top: 150px;
}
img[alt="image_intro"]{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.bloc_bleu{
    width: 400px;
    height: 400px;
    background-color: #3d53b6;
    color: #F6DBBF;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   
}
.principale{
    display: flex;
    justify-content: center;
    
}


img{
    width: 400px;

}
li {
    position: relative;
}
span{
    position:absolute;
    margin-left:35%;
    margin-top:-400px;
    display:none;
}

span h1{
    font-weight: bold;
    font-family: "Cabin", sans-serif;
}
li  a:hover{
    filter: brightness(80%);
}
li a:hover span{
    display: block;
    color: green;
    
}



.carousel {
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory #EDB458 ;
        padding: 0%;
        border-radius: 3px;
        margin: 40px;
        margin-left: 20px;
}
.carousel li {
    flex-direction: row;
    scroll-snap-align: start;
    margin: 6px;
    list-style-type: none;
}


::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(13, 13, 49);
    border-radius: 3px;
}

.bloc_contact{
    display: flex;
    justify-content: center;

}
.bloc_bleu2{
   
    background-color: #3d53b6;
    width:400px;
    height:400px;
    color: #F6DBBF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.text_bloc2{
    margin-top:100px;
}
img[ alt="image_contact"]{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

img[alt="image_apropos"]{
    display: block;
    margin: auto;
    width:80px;
    margin-top: 30px;
   
}
p{
   text-align: center;
   font-family: "Cabin", sans-serif;
}



